*{
  border: 1px solid #C7C7C7;
}

.hero-container{
  max-width: 960px;
  margin: 0 auto;
  display:flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: row;
  align-items:center;
}

.hero-state-ctrl{

  flex-basis: 100px;
}

.active-heros-ctrl{


}

.inactive-heros-ctrl{


}

.hero-state-ctrl--container{

  flex-basis:300px;
  min-height: 50px;
  padding: 0 auto;
}

.heros-list--basic--container{

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-basis: 190px;

}