<div class='hero-container'>

  <div class='hero-state-ctrl--container'>
    <button type='button' class='active-heros-ctrl hero-state-ctrl' (click)="addActiveHero()">
      Active
    </button>
  </div>

  <div class='hero-state-ctrl--container'>
    <button type='button' class='inactive-heros-ctrl hero-state-ctrl' (click)="addInactiveHero()">
      Inactive
    </button>
  </div>
  <div class='hero-state-ctrl--container'>
    <button type='button' class='inactive-heros-ctrl hero-state-ctrl' (click)="removeHero()">
      Remove
    </button>
  </div>

  <div class='heros-list--basic--container'>
    <app-hero-list-basic [heros]="heros"></app-hero-list-basic>
  </div>
  <div class='heros-list--basic--container'>
    <app-hero-list-basic [heros]="heros"></app-hero-list-basic>
  </div>
  <div class='heros-list--basic--container'>
    <app-hero-list-basic [heros]="heros"></app-hero-list-basic>
  </div>
  <div class='heros-list--basic--container'>
    <app-hero-list-basic [heros]="heros"></app-hero-list-basic>
  </div>

</div>